<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>r_app</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>The camera is accessed for the first time</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSMicrophoneUsageDescription</key>
	<string>The microphone is accessed for the first time</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Your message to user when the photo library is accessed for the first time</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>FontAwesome6_Brands.ttf</string>
		<string>FontAwesome6_Regular.ttf</string>
		<string>FontAwesome6_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Barlow Condensed Black Italic.ttf</string>
		<string>Barlow Condensed Black.ttf</string>
		<string>Barlow Condensed Bold Italic.ttf</string>
		<string>Barlow Condensed Bold.ttf</string>
		<string>Barlow Condensed ExtraBold Italic.ttf</string>
		<string>Barlow Condensed ExtraBold.ttf</string>
		<string>Barlow Condensed ExtraLight Italic.ttf</string>
		<string>Barlow Condensed ExtraLight.ttf</string>
		<string>Barlow Condensed Italic.ttf</string>
		<string>Barlow Condensed Light Italic.ttf</string>
		<string>Barlow Condensed Light.ttf</string>
		<string>Barlow Condensed Medium Italic.ttf</string>
		<string>Barlow Condensed Medium.ttf</string>
		<string>Barlow Condensed Regular.ttf</string>
		<string>Barlow Condensed SemiBold Italic.ttf</string>
		<string>Barlow Condensed SemiBold.ttf</string>
		<string>Barlow Condensed Thin Italic.ttf</string>
		<string>Barlow Condensed Thin.ttf</string>
		<string>Montserrat Black Italic.ttf</string>
		<string>Montserrat Black.ttf</string>
		<string>Montserrat Bold Italic.ttf</string>
		<string>Montserrat Bold.ttf</string>
		<string>Montserrat ExtraBold Italic.ttf</string>
		<string>Montserrat ExtraBold.ttf</string>
		<string>Montserrat ExtraLight Italic.ttf</string>
		<string>Montserrat ExtraLight.ttf</string>
		<string>Montserrat Italic.ttf</string>
		<string>Montserrat Light Italic.ttf</string>
		<string>Montserrat Light.ttf</string>
		<string>Montserrat Medium Italic.ttf</string>
		<string>Montserrat Medium.ttf</string>
		<string>Montserrat Regular.ttf</string>
		<string>Montserrat SemiBold Italic.ttf</string>
		<string>Montserrat SemiBold.ttf</string>
		<string>Montserrat Thin Italic.ttf</string>
		<string>Montserrat Thin.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
